<html>
	    <head>  
            <!-- Inclua os links para os arquivos CSS e JS do Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
	        <title>Nossa Escola!</title>
	    </head>
	    <body>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Nossa Escola</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('alunos.listar')}}">Alunos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Turmas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Notas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('alunos.logoff')}}">Sair</a>
                    </li>
                    <!--<li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    !-->
                  </ul>
                </div>
              </nav>

          
            {% set mensagens = get_flashed_messages(with_categories=true) %} 
            {% if mensagens %}     
            {% for categoria, msg in mensagens %}
                <div class="alert alert-{{categoria}}" role="alert">
                    {{ msg }}
                </div>
            {% endfor %}
            {% endif %}

	        <main>
	        {% block conteudo %}
            {% endblock %}
	        </main>

	    </body>
	</html>