<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% set mensagens = get_flashed_messages() %} 
    {% if mensagens %}     
    <div class="alert alert-danger" role="alert">
    {% for msg in mensagens %}
            {{ msg }}
    {% endfor %}
    </div>
    {% endif %}

    <form action="{{url_for('add')}}" method="post">
        Nota: <input type="text" name="valor">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>